
button{

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    border-radius: 50 px;
    background-color: rgb(153, 219, 38);
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
    border-color: white;
    
    
};
.table{
    border: solid 2px rgb(153, 219, 38);
    
}
